/* css */

h1 {
    font-family: monospace;
    text-align: center;
}

form {
    margin: auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: aquamarine;
}