<form id="form">
    <h2>Login</h2>
    <div>
        <label for="user">Nazwa użytkownika:</label>
        <input type="text" name="user">
    </div>
    <div>
        <label for="pass">Hasło:</label>
        <input type="password" name="pass">
    </div>
    <div id="error"></div>
    <button type="submit">Zaloguj</button>
</form>

<script>
    function login(e) {
        e.preventDefault();
        const data = new FormData(this);

        fetch('/login', {
            method: 'POST',
            body: data
        })
            .then(res => res.json())
            .then(res => {
                if (res === "ok") {
                    location.href = "/";
                }

                error.innerHTML = `<span style="color: red">${res}</span>`;
            });
    }

    const form = document.getElementById("form");
    const error = document.getElementById("error");
    form.addEventListener("submit", login);
</script>
