<aside>
    <ul>
        <li>
            <div class="btn">
                <div class="half" onclick="decreaseFontSize()" style="border-right: 2px solid black;">font-</div>
                <div class="half" onclick="increaseFontSize()">font+</div>
            </div>
        </li>
        <li>
            <button class="btn" onclick="nextColor()">Następny motyw</button>
        </li>
        <li>
            <button class="btn" onclick="saveConfig()">Zapisz ustawienia</button>
        </li>
        <hr class="separator">
        <li>
            <button class="btn" style="background-color: var(--primary-bg-color); color: white" onclick="preview()">podgląd pliku</button>
        </li>
    </ul>
</aside>
