{% extends "bootstrap/base.html" %}

{% block scripts %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block navbar %}
    {% if userLogin %}
        {% include "includes/navbarlogin.html.j2" %}
    {% else %}
        {% include "includes/navbar.html" %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container mt-2">
        {% if userLogin %}
            {% for message in get_flashed_messages() %}
                <div class="col-lg-12">
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            {% endfor %}
            <div class="col-lg-4 offset-lg-4">
                <form method="POST">
                    {{ addGrade.hidden_tag() }}
                    <div class="mb-3">
                        {{ addGrade.subject.label(class_="form-label") }}
                        {{ addGrade.subject(class_="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ addGrade.term.label(class_="form-label") }}
                        {{ addGrade.term(class_="form-control", style_="list-style-type: none;") }}
                    </div>
                    <div class="mb-3">
                        {{ addGrade.category.label(class_="form-label") }}
                        {{ addGrade.category(class_="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ addGrade.grade.label(class_="form-label") }}
                        {{ addGrade.grade(class_="form-control") }}
                    </div>
                    {{ addGrade.submit(class_="btn btn-dark mt-3 float-end") }}
                </form>
            </div>
        {% else %}
            <div class="alert alert-warning">
                Nie jesteś zalogowany!
                <a href="/login" class="alert-link">Przejdź do strony logowania</a>
            </div>
        {% endif %}
    </div>

    {% include "includes/footer.html.j2" %}
{% endblock %}

