<main>
    <h1>{{subject}}</h1>

    <div>
        <p>{{content}}</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga dicta nostrum error, consequuntur voluptate atque eum nihil debitis ab totam. Enim placeat, quod eos dignissimos tenetur possimus non rerum deserunt!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga dicta nostrum error, consequuntur voluptate atque eum nihil debitis ab totam. Enim placeat, quod eos dignissimos tenetur possimus non rerum deserunt!</p>
    </div>
</main>

<footer>
    <p>{{footer}}</p>
</footer>
