@import url(https://fonts.googleapis.com/css2?family=VT323);

:root {
  font-family: "VT323";
  font-size: 24px;
  line-height: 32px;

  color-scheme: dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
  background-color: var(--background-color);
  color: var(--accent-color);

  --accent-color: #00ff00;
  --background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "VT323";
}

body {
  margin: 0;
}

#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  /* overflow-x: hidden; */
}
