* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: monospace;
}

body > div {
    margin: auto;
    border: 1px solid blue;
    user-select: none;
}

h1 {
    text-align: center;
    width: 100%;
    background-color: blue;
    color: white;
    padding: 0.5rem;
}

.buttons {
    border-bottom: 1px solid blue;
    display: inline-flex;
    width: 100%;
}

button {
    all: unset;
    text-align: center;
    line-height: 1rem;
    border-right: 1px solid blue;
    min-width: 5rem;
    cursor: pointer;
}

#monitor {
    background-color: lightgray;
    position: relative;
    width: 500px;
    height: 300px;
}

#monitor .column {
    position: absolute;
    width: 15px;
    background-color: blue;
}

#monitor .topLine {
    background-color: red;
    position: absolute;
    height: 1px;
    width: 100%;
}

#monitor .topText {
    padding: 5px;
    font-family: monospace;
    position: absolute;
    line-height: 12px;
    font-size: 12px;
    left: 0px;
    background-color: red;
    color: white;
}
