<table class="filemanager">
    <tr>
        <th>id</th>
        <th>icon</th>
        <th>name</th>
        <th>size</th>
        <th>type</th>
        <th>-</th>
        <th>-</th>
        <th>-</th>
        <th>-</th>
    </tr>
    {{#each fm}}
        {{> fmRow}}
    {{/each}}
</table>
