{% extends "bootstrap/base.html" %}

{% block scripts %}
    {{ super() }}
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block navbar %}
    {% include "includes/navbar.html.j2" %}
{% endblock %}

{% block content %}
    <div class="container">
    </div>
{% endblock %}
