{% extends "bootstrap/base.html" %}

{% block scripts %}
    {{ super() }}
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block navbar %}
    {% include "includes/navbar.html.j2" %}
{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="h3 my-2">Flask login - rejestracja</h3>
        <div class="row my-2">
            <div class="col-lg-12">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="row my-2">
            <div class="col-lg-4 offset-lg-4">
                <form method="POST">
                    {{ registerForm.hidden_tag() }}
                    {{ registerForm.userLogin.label(class="form-label") }}
                    {{ registerForm.userLogin(class="form-control") }}
                    {{ registerForm.userPass.label(class="form-label") }}
                    {{ registerForm.userPass(class="form-control") }}
                    {{ registerForm.firstName.label(class="form-label") }}
                    {{ registerForm.firstName(class="form-control") }}
                    {{ registerForm.lastName.label(class="form-label") }}
                    {{ registerForm.lastName(class="form-control") }}
                    {{ registerForm.submit(class="btn btn-secondary mt-3 float-end") }}
                </form>
                Masz już konto? <a href="{{ url_for('login') }}">Zaloguj się</a>
            </div>
        </div>
    </div>
{% endblock %}
